*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: rgb(244, 174, 174);
    display: flex;
    padding: 15px;
    max-height: 70px;    
}

.logo img {
    max-width: 20px;
    margin-left: 15px;
    margin-top: -44px;
}

.logo-text{
    font-size: 8px;
    background: rgb(15, 24, 153);
        background: linear-gradient(90deg, rgba(15, 24, 153, 1) 0%, rgba(193, 23, 66, 1) 49%, rgb(209, 41, 122) 100%);
        background-clip: text; 
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

.menu ul{
    display: inline-flex;
    list-style: none;
    margin-top: -44px;
    margin-left: 55px;
}
.menu ul li{
    width: 80px;
    margin: 25px;
    padding: 8px;
    font-size: 16px;
}

.menu ul li a{
    text-decoration: none;
    color: black;
}

.submenu1{
    display: none;
}

nav ul li:hover .submenu1{
    display: block;
    position: absolute;
    background-color: red;
    margin-top: 8px;
    margin-left: 12px;
}

nav ul li:hover .submenu1 ul{
    display: block;
}

nav ul li:hover .submenu1 ul li{
    width: 150px;
    text-align: center;
    border-radius: 10px;
    transition: 0.7s;
}

nav ul li:hover .submenu1 ul li:hover{
    background-color: yellow;
}

.submenu2 {
    display: none;
}

nav ul li:hover .submenu2 {
    display: block;
    position: absolute;
    background-color: red;
    margin-top: 15px;
    margin-left: -38px;
}

nav ul li:hover .submenu2 ul {
    display: block;
}

nav ul li:hover .submenu2 ul li {
    width: 150px;
    text-align: center;
    border-radius: 10px;
    transition: 0.7s;
}

nav ul li:hover .submenu2 ul li:hover {
    background-color: yellow;
}